{% extends 'main/base.html' %}

{% block title %} Writing Page {% endblock %}

{% block content %}
<div class="row justify-content-center">

  <div class="col-md-6 ">
      <h2>Write your Blog</h2>
      <h6 class="text-center"> Writing Category:<br/>
        Fashion - Beauty - Travel - Personal - Tech<br/>
        Health - Home - Fitness - Education - Food - Entertainment
      </h6>

      <form  action="{% url 'main:add_blog_view' %}" method="post" class="d-flex flex-column gap-2">
          {% csrf_token %} 
          <label>Title: </label>
          <input type="text" name="title" style="background-color: #f9f0e3;" />

          <label>Content: </label>
          <textarea name="content" style="background-color: #f9f0e3;" ></textarea> 
          
          <label>Category: </label>
          <input type="content" name="category" style="background-color: #f9f0e3;" />
          <!--
            <select name="category" style="background-color: #f9f0e3;">
            <option value="Fashion"> Fashion </option>
            <option value="Beauty"> Beauty </option>
            <option value="Travel"> Travel </option>
            <option value="Personal"> Personal </option>
            <option value="Tech"> Tech </option>
            <option value="Health"> Health </option>
            <option value="Home"> Home </option>
            <option value="Fitness"> Fitness </option>
            <option value="Education"> Education </option>
            <option value="Food"> Food </option>
            <option value="Entertainment"> Entertainment </option>
          </select>

          -->

        
          <label>Publish Date:</label>
          <input type="date" name="publish_date" style="background-color: #f9f0e3;"  />

          <input type="submit" value="Add Blog" class="btn " style="background-color: #f1683e;" />
          

      </form>

  </div>

</div>
{% endblock %}