{% extends 'main/base.html' %}

{% block title %}add post {% endblock %}


{% block content %}

<h1>Add New Post</h1>
<form  action="{% url 'main:add_post_view' %}" method="post" class="d-flex flex-column gap-2">
        {% csrf_token %} 
        <label for="title">Title:</label><br>
        <input type="text" id="title" name="title"><br><br>

        <label for="content">Content:</label><br>
        <textarea id="content" name="content"></textarea><br><br>

        <label for="category">Category:</label><br>
        <input type="text" id="category" name="category"><br><br>

        <label for="publish_date">Publish Date:</label><br>
        <input type="datetime-local" id="publish_date" name="publish_date"><br><br>
        <input type="submit" value="Add Post">
    </form>









   
{% endblock %}  